.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  a {
    font-weight: bold;
    color: $text-dark-color;
  }
  a.router-link-exact-active {
    color: #42b983;
  }
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
  &:hover {
    text-decoration: underline;
  }

  & i {
    margin-right: inherit;
  }
}

.main-nav-logo {
  display: flex;
  align-items: center;
  &-image {
    max-width: 100%;
    width: 200px;
  }
}
