// chevron initial position
.transaction {
  &_top_wrapper {
  }

  &_bottom_wrapper {
  }
}

.unrotate-chevron {
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
// chevron rotation
.rotate-chevron {
  transform: rotate(-180deg);
  transition: 0.5s ease-in-out;
}
