/****************** FORMS ************************/
/****************** Button ************************/
.form-button {
  display: block;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: $primary-color;
  background-color: $primary-color;
  color: $text-light-color;
}

/****************** Content ************************/
.form-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

/****************** Icon ************************/
.form-icon {
  font-size: 5rem;
}

/****************** Checkbox remember me ************************/
.input-remember {
  display: flex;
  & label {
    margin-left: 0.25rem;
  }
}

/****************** Form ************************/
.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
  & label {
    font-weight: bold;
  }
  & input {
    padding: 5px;
    font-size: 1.2rem;
  }
}

/**************** Error control ****************/
p[data-error] {
  font-size: 0.8em;
  font-weight: 600;
  color: rgba(255, 0, 0, 0.587);
}

.input-wrapper[data-error]::after {
  content: attr(data-error);
  font-size: 0.8em;
  font-weight: 600;
  color: rgba(255, 0, 0, 0.587);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  transition: 0.3s;
}
.input-wrapper[data-error-visible='true']::after {
  opacity: 1;
  margin-bottom: 5px;
}
.input-wrapper[data-error-visible='true'] input {
  border: 2px solid rgb(255, 0, 0);
  border-radius: 3px;
}
